In [7]:
#Lesson2 review
#Input 3 int x,y,and zï¼Œplease output these three numbers from small to large.
#we need to use 2 function: input(), for i in range():
#for loop, cycle
i = []
for k in range(3):
    a =  int(input("Please input the number here"))
    i.append(a)
i.sort(reverse = True) # try to output the value from large to small
print(i)

input here1

'1'

In [18]:
#Tuple
a = (1,2,3,4)
b = 1,
c = [1,2,3]
del c[2]
#del a[2]  #'tuple' object doesn't support item deletion
#del a
#build in functions is ok : such as max , min , len,
print(max(a),min(a),len(a))
d = list(a)
d.insert(1,'abc')
print(d)

4 1 4
[1, 'abc', 2, 3, 4]

In [24]:
#dit In dict , key value pair is separated by colon, 
#and each pair is separated by comma, whereas the dict is enclosed in curly braces.
e = {'name':'yan','name12':['Jack'],(1,2):["hello"]}
#the key can be string/Tuple, but not be list,the value is string/list/dict
f = {'name':'yan','home':{'location':'Jakarta','email':'yan@google.com'}}
g = {'name':'yan'}
g['age']  = '30' #insert
g['name'] = 'Jack'  #update
del g['age']  #delete
g #query, find information inside of it , we just type its name

{'name': 'Jack'}

In [29]:
#Built-in functions in dict
dic1 = {'a':'1','b':'2'}
dic2 = {'c':'3','d':'4'}
dic3 = dic1.copy() #copy a new dict
dic1.update(dic2) #add the content, merge two dict together
print(dic1,dic2,dic3)
print(len(dic1)) #len
print('hello' in dic1) # in :determine if a dict contains this key

{'a': '1', 'b': '2', 'c': '3', 'd': '4'} {'c': '3', 'd': '4'} {'a': '1', 'b': '2'}
4
False

In [37]:
dic4 = {'name':'yan','home':{'location':'Jakarta','email':'yan@google.com'}}
print(dic4['home']['location'])
print(dic4.get('home').get('location')) # dict.get()
print(dic4.values(),dic4.keys()) #

Jakarta
Jakarta
dict_values(['yan', {'location': 'Jakarta', 'email': 'yan@google.com'}]) dict_keys(['name', 'home'])

In [44]:
dic5 = {'name':'yan','age':'18','height':'180cm','hair':'black',
        'home':{'location':'Jakarta','email':'yan@google.com'}}
#use a loop , like for cycle
for i in dic5.values(): #here we output the values, try to output the keys 
    print(i)

for k,v in dic5.items():  #(k,v)
    print(k,v)  #print(v)

yan
18
180cm
black
{'location': 'Jakarta', 'email': 'yan@google.com'}
name
age
height
hair
home

In [50]:
#practice: use input function, try to input 1,2,3    
#if you input 1  , the system output : 'you have input 1'
#if you input 2  , the system output : you have input 2
#if you input 3  , the system output : you have input 3
#if you input other number , the system output : you have input wrong number
info = {'1':"you have input 1",'2':"you have input 2",'3':"you have input 3"}
a = input("please input value here")
print(info.get(a)) #if user input other number,we need do judgement

please input value here3
you have input 3 you have input wrong number

In [60]:
basket = {"apple","orange","pear","apple","apple","apple"}  #set type
basket1 = set("pear")
print(basket1)
set1 = set("orange")# letters
set2 = {}  #it is dict type
set3 = set(("orange","pear","apple")) #words
print(set3)

{'a', 'e', 'r', 'p'}
{'apple', 'pear', 'orange'}

In [93]:
set4 = {"a","b","c","d"}
set5 = {"e","f","c","taobao"}
#print(set4 ^set5) # | or & and ^ only in set 4 or in set5 
set5.add("google")#add element
set5.remove("c")#remove element
set5.discard("c")#remove element,even the element does not exist, there is no error
set5.pop() #randomly delete an element,takes no arguments
print(set5)

{'f', 'taobao', 'google'}

In [95]:
#if statement is a basic judgement statement
# if statement  must be followed a colon:
#Automatically indent:we always uses 4 spaces to indent a block.
#If the code has the same indentation, we consider it is the same block

age = 24
if age <18:
    print("you are young")
else:
    print("you are old enough")

you are old enough

In [101]:
#multi conditions we use or/ and 
age = 29
if (age >18 and age < 22) or (age >24 and age < 30): 
    print("you are old enough to be an university student")
else:
    print("you are old enough")

you are old enough to be an university student

In [109]:
#For cycle is  a loop , we can get all the elements from a sequence,such as list/dict
lst = list(range(5)) # 0,1,2,3,4
for i in lst[::2]: #slicing
    print(i)

0
2
4

In [111]:
dic1 = {'Tom':'18','Jack':'19','Alex':'20','Mary':'21'}
for i in dic1:
    print(dic1[i])

18
19
20
21

In [117]:
for i in range(3):  #underline is ok
    for k in range(2):  #nest loop, circulate embedding method
        print(i,k)   #we should not use nest loop too much, no more than 3 time

0 0
0 1
1 0
1 1
2 0
2 1

In [120]:
#practice: write a for cycle ,try to output even number which is no more than 10
#0,2,4,6,8
for i in range(10):
    if  i % 2 ==0:
        print(i)
print("That is the even number")

0
2
4
6
8
That is the even number