In [6]:
print("Hello world1")  
#ctrl + enter :the function is run the code 
#shift + enter :first run the code, in the same time, jump to the next code block
#alt + enter :insert a new block to write the python code

Hello world1

In [8]:
# annotation, If i want the code donot run for a signle line

'\nabc\ndefg\nhigk\nmno\n'

In [11]:
print("   *","  ***","*******","   |",sep="\n")
# put out a Christmas tree

   *
  ***
*******
   |

In [30]:
#2. The basic data type :Number
x1 = 1
x2 = 10.0 #number
#the defination of float is not the real number , it is much closer to this number
print(type(x2))
print((0.1 + 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1)== 0.9)     #False
#if we want to make a judgement (0.1 + 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1) and 0.9
print(0.9-(0.1 + 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1+ 0.1) < 10 **-9 )  #True

<class 'float'>
False
True

In [39]:
#3. The basic data type :BOOL
x3 = False == 1 # the real value of False is 0 in number(False == 0 )
x4 = True == 0  # the real value of True is 1 in number(True ==1 )
print(x3,x4)
print(x3 * 5, type(x4))  # calculation

False False
0 <class 'bool'>

In [47]:
#3. The basic data type :List
#List is a range of data, inside of there are many kinds of data type,
#such as string,number,list
lst = [1,2,3,4]
lst1 = ["a","b","c"]
lst2 = [["Jack","Bob","Kite"],1,2,3,"a","b","c",[1,2,3]]
print(lst2)
#In list we can get the number by position, we call the position as index,
#If we want to get 3, we can write like lst[2]
print(lst[2]) 
print(lst2[0][2])  #we need add another square bracket [] 
print(lst2[7])

[['Jack', 'Bob', 'Kite'], 1, 2, 3, 'a', 'b', 'c', [1, 2, 3]]
3
Kite
[1, 2, 3]

In [52]:
#4. The basic data type :Tuple
#Tuple is also a range of data, but we can not change the value inside of it. 
#So Tuple is a spcial kind of List
tup = (1,2,3,4)  # not square bracke
tup1 = 1,2,3
tup2 = 1, 
lis3 = [1,2,3,4]
lis3[2] = 100
#tup[2] = 100
print(lis3)  # ctrl +enter
print(type(tup))

[1, 2, 100, 4]
<class 'tuple'>

In [54]:
#4. The basic data type :Dict
#Dict  is a pair of value, it is  key and  value.
#the key and value is unordered, we can not sort it
dic1 = {"name":"Jack","age":19,"city":'peak',"hair":"black"}
print(dic1,type(dic1))

{'name': 'Jack', 'age': 19, 'city': 'peak', 'hair': 'black'} <class 'dict'>

In [56]:
val1 = 5 # int
val2 = float(val1) #float
val3 = str(val2)  #string  
val4 = 5.5
val5 = int(val4)  #change float to int
print(type(val1),type(val2),type(val3),type(val5))

<class 'int'> <class 'float'> <class 'str'> <class 'int'>