In [2]:
#read txt file
import pandas as pd
import numpy as np
import os
os.chdir('C:\\Users\\everi\\Desktop\\')
data1 = pd.read_table('data1.txt')
print(data1)

  va1,va2,va3,va4
0         1,2,3,4
1         2,3,4,5
2         3,4,5,6
3         4,5,6,7

In [6]:
data2 = pd.read_csv('train.csv') #read_excel
#data2.head(6)
data2.describe() #shift+tab

,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,...,1100.000000,1100.0,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,36.999091,0.161818,9.427273,2.922727,1028.157273,2.725455,2.730909,2.054545,2.732727,6483.620909,...,2.696364,80.0,0.788182,11.221818,2.807273,2.746364,7.011818,4.207273,2.226364,4.123636
std,9.037230,0.368451,8.196694,1.022242,598.915204,1.098053,0.706366,1.107805,1.109731,4715.293419,...,1.095356,0.0,0.843347,7.825548,1.291514,0.701121,6.223093,3.618115,3.313830,3.597996
min,18.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,2.000000,2.000000,504.250000,2.000000,2.000000,1.000000,2.000000,2924.500000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,7.000000,3.000000,1026.500000,3.000000,3.000000,2.000000,3.000000,4857.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,15.000000,4.000000,1556.500000,4.000000,3.000000,3.000000,4.000000,8354.500000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,29.000000,5.000000,2065.000000,4.000000,4.000000,5.000000,4.000000,19999.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,37.000000,18.000000,15.000000,17.000000

In [12]:
#0 is still in the company,1 means the person leave the company/Attrition
neg_data = data2[data2['Attrition']==0]
pos_data = data2[data2['Attrition']==1]
print("Positive sample number:{},proportion{}"
      .format(len(pos_data),len(pos_data)/len(data2)))
print("Negative sample number:{},proportion{}"
      .format(len(neg_data),len(neg_data)/len(data2)))
print(len(pos_data)/len(data2)+len(neg_data)/len(data2))

Positive sample number:178,proportion0.1618181818181818
Negative sample number:922,proportion0.8381818181818181
1.0

In [15]:
#Series:1D array+ index
# 1.Series can be created by the dict. The key of the dict is index
dic = {'a':1,'b':2,'c':3,'4':4,'5':5}
s = pd.Series(dic)  #keyword 
print(s,s['a'])
print(s[['a','c']])  #multi label index has 2 bracket

a    1
b    2
c    3
4    4
5    5
dtype: int64 1
a    1
c    3
dtype: int64

In [22]:
arr = np.random.rand(5)
#s = pd.Series(arr)
s = pd.Series(arr,index=["a","b","c","d","e"],dtype = np.object)
print(arr,'\n',s)

[0.46213174 0.80103458 0.6476416  0.60754658 0.44497207]
 a    0.462132
b    0.801035
c    0.647642
d    0.607547
e    0.444972
dtype: object

In [52]:
s1 = pd.Series(np.random.rand(10)*100,index=list("abcdefghij"))
print(s1[s1>50]) #s1[["b","c"]],s[3:6]

a    85.844832
b    88.314437
d    59.136781
e    63.572913
i    64.805809
dtype: float64

In [54]:
s1 = pd.Series(np.random.rand(3),index=["a","b","c"])
s2 = pd.Series(np.random.rand(3),index=["b","c","d"])
print(s1,"\n",s2)
print(s1+s2)

a    0.383140
b    0.993040
c    0.480042
dtype: float64
 b    0.735715
c    0.804682
d    0.544476
dtype: float64
a         NaN
b    1.728755
c    1.284724
d         NaN
dtype: float64

In [58]:
s1 = pd.Series(np.random.rand(3),index=["a","b","c"])
s2 = s1.drop(['a','c'])  #tab +shift  inplace = True
print(s2)

b    0.965185
dtype: float64

In [63]:
s1 = pd.Series(np.random.rand(3),index=["a","b","c"])
s1[0] = 100 #change value
s1['d'] = 99  #add element
s2 = pd.Series(np.random.rand(3),index=["e","f","g"])
s3 = s1.append(s2) #append add an array directly, 
#But do not change the previous array
print(s3)

a    100.000000
b      0.858493
c      0.497504
d     99.000000
e      0.455548
f      0.466407
g      0.108381
dtype: float64

In [75]:
s1 = pd.Series([1,2,3],index=["a",'c','b'])
s2 = pd.Series([2,3,4],index=['e','f',"d"])
#print(pd.concat([s1,s2])) #row +row
print(pd.concat([s1,s2],axis=1).sort_index()) #Dataframe

     0    1
a  1.0  NaN
b  3.0  NaN
c  2.0  NaN
d  NaN  4.0
e  NaN  2.0
f  NaN  3.0

In [82]:
s1 = pd.Series([1,2,3],index=["a",'b',"c"])
s2 = pd.Series([2,3,4],index=['b','c',"d"])
print(pd.concat([s1,s2],axis=1,join = "outer")) 
#"inner is intersection without NAN, outer is the union

     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [94]:
data1 = {"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]}
data2 = {"one":np.random.rand(3),"two":np.random.rand(3)}
pd.DataFrame(data1,columns=["c","a","b","d"],index = ["e","f","g"])

In [95]:
# 2 Dataframe can be created by Series dict
data1 = {"one":pd.Series(np.random.rand(2)),
         "two":pd.Series(np.random.rand(3))} #without index
data2 = {"one":pd.Series(np.random.rand(2),index = ["a","b"]),
         "two":pd.Series(np.random.rand(2),index = ["c","d"])}
pd.DataFrame(data2)

        one       two
a  0.434705       NaN
b  0.510854       NaN
c       NaN  0.946298
d       NaN  0.434948

In [98]:
ar = np.random.rand(9).reshape(3,3)
pd.DataFrame(ar)

          0         1         2
0  0.051783  0.576152  0.013635
1  0.766828  0.958235  0.943742
2  0.187434  0.817743  0.540269

In [100]:
data1 = [{"a":1,"b":2},{"a":5,"b":6,"c":8}]
pd.DataFrame(data1)

   a  b    c
0  1  2  NaN
1  5  6  8.0